<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key ="connectionStringMySql" value ="Server=212.129.41.100;Port=16081;Uid=root;Pwd=Rila2016;Database=HouseMaderaDb;CharSet=utf8;"/>
    <add key ="connectionStringSQLite" value ="Data Source=C:/Users/remy/Documents/HouseMaderaDB-sqlite/HouseMaderaDB.db;version=3"/>
  </appSettings>
</configuration>