<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    
  </entityFramework>
  <connectionStrings>
    <add name="HouseMaderaDBMySql" providerName="MySql.Data.MySqlClient" connectionString="Server=212.129.41.100;Port=16081;Uid=root;Pwd=Rila2016;Database=HouseMaderaDb;CharSet=utf8;Persist Security Info=True" />
    <add name="HouseMaderaDBSQlite" connectionString="data source=C:\Users\remy\Documents\HouseMaderaDB-sqlite\HouseMaderaDB.db;" providerName="System.Data.SQlite" />
  <!--Data Source=c:\mydb.db;Version=3;Password=myPassword;-->
  </connectionStrings>
  
</configuration>
